@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Montserrat:wght@100;300;600&family=Oswald:wght@300;600&display=swap');
body{
    display: flex;
    flex-direction: column;
    padding: 0 15%;
    font-family: "Montserrat", sans-serif;
}
p{
    margin: 0%;
}
header{
    padding: 30px 0;
}
.section{
    display: flex;
    justify-content: space-between;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 60px;
}
form img{
    position: absolute;
    top: 11px;
    left: 10px;
}
input, select{
    padding: 15px;
    border-radius: 12px;
    border: 1px solid var(--Gray-3, #828282);
    width: 100%;
}
.half-line{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 10px;
}
::placeholder,select option{
    padding-left: 30px;
    color: var(--Gray-3, #828282);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.elmnt{
    position: relative;
}
label{
    padding-top: 10px;
}
.agree{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
button{
    position: absolute;
    right: -30px;
    bottom: -10px;
    color: white;
    border-radius: 12px;
    background: #F2994A;
    width: 30%;
    padding: 10px;
    border: none;
    margin-top: 20px;
}
.contact{
    display: flex;
    flex-direction: column;
}
.shiping{
    display: flex;
    flex-direction: column;
}
.shiping h3{
    padding-top: 30px;
}
.trolly{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    height: fit-content;
    padding: 30px ;
    border-radius: 12px;
    background: var(--Gray-6, #F2F2F2);
}
.trolly img{
    width: 50%;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.item p{
    color: #4E5150;
    

}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.text p{
    color: #4E5150;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.price p{
    color: var(--Orange, #F2994A);

}
.num{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid var(--Gray-3, #828282);
}
.ctrl{
    background-color: #8282822b;
    color: grey;
    border-radius: 7px;
    padding: 0 4px;
}
.pay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top:1px solid #BDBDBD;
    padding-top: 10px;
}
footer{
    
    
    width: 100%;
    text-align: center;
    
    padding: 20px;
}
footer div{
    color: #BDBDBD;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
footer div a{
    text-decoration: none; /* Remove underline */
    color: inherit;
}